<!doctype html>
<html>
    <head>
        
    </head>
    
    
    <body>
        
        <div class=parallax id="koreacity">
            </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
        </div>
   
        
        <div class="about-stuff">
            <h1>What is KASA?</h1>
            <p>KASA stands for the Korean American Student Association and the organization’s mission is to spread Korean culture to as many people as possible. The organization encourages people of all cultural backgrounds to be a member. The organization has events to spread culture to those within the organization while ensuring the members have fun at the same time. The organization then puts all of its efforts together to hold a culture show, which hundreds of students from Virginia Tech as well as students and parents from other schools come to watch.</p>
            <p>During the culture show, the organization does its best to put on a show that is entertaining to watch and related to Korean culture. In addition, the organization holds fundraisers and raises money for philanthropic causes. KASA is part of the Oak Tree Project, a non-profit charity in Korea that funds the education of orphans in Korea. When orphans turn 18, they are kicked out of their orphanages and are left with no money, but the Oak Tree Project helps with furthering their education and KASA raises money to send to this charity every year.</p>
        
            <h1>Mission</h1>
            <p>KASA aims to unite students under the core values of Korean culture including devotion, family, and respect. Our organization strives to achieve this mission through programs that promote social networking and cultural exchange that include but are not limited to social events, philanthropy projects, and culture shows. </p>
            <p>KASA works as the cohesive voice of our members to advance the recognition of Korean culture within Virginia Tech and to solidify our relations with other Korean American communities.</p>
            
            <h1>Join Us</h1>
            <p>KASA raises money for the Oak Tree Project, but also hosts many awesome events such as the culture show every year. One primary goal of KASA is to spread Korean culture to everyone. If you want to learn more about Korea or if you already know a lot about it and want to help others learn about Korean culture, then KASA is perfect for you!</p>
            <p>You also don’t have to be Korean to join KASA. We welcome everyone, regardless of background. The members interact with each other and KASA is the perfect place to meet new people and get together with a common goal. The meetings also occasionally provide free Korean food for its members.</p>
            
        </div>

        <div class=parallax id="pumpkin"></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
        </div>
    </body>
    

</html>